<div
  id="home"
  class="container-fluid"
  style="
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('assets/images/image 1.png');
    opacity: 0.9;
    background-size: cover;
    background-position: center;
  "
>
  <app-navbar> </app-navbar>
  <div id="home">
    <app-home></app-home>
  </div>
</div>

<div id="about">
  <app-about></app-about>
</div>
<div id="skills">
  <app-skills></app-skills>
</div>
<div id="services" style="background-color: #1f242d;">
  <app-services></app-services>
</div>
<div id="portfolio">
  <app-portfolio></app-portfolio>
</div>
<div id="contact">
  <app-contact></app-contact>
</div>
<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2025 All Rights Reserved By Nour Eldin Hesham</p>
    <button
      (click)="scrollToTop()"
      class="scroll-top"
      aria-label="Scroll to top"
    >
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>
</footer>
