<section class="portfolio-section">
  <div class="container-fluid px-3 px-md-5 py-5">
    <h2 class="portfolio-title">
      <span class="text-white">My </span>
      <span class="highlight-text">Portfolio</span>
    </h2>
    <div class="portfolio-grid">
      <div
        class="portfolio-card"
        *ngFor="let item of portfolioItems"
        (click)="openLink(item.link)"
      >
        <img [src]="item.image" alt="Portfolio Image" class="card-image" />
        <div class="card-overlay">
          <h3 class="card-title">{{ item.title }}</h3>
          <div class="card-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path>
              <polyline points="15 3 21 3 21 9"></polyline>
              <line x1="10" y1="14" x2="21" y2="3"></line>
            </svg>
          </div>
        </div>
        <div class="card-glow"></div>
      </div>
    </div>
  </div>
</section>
