<div class="container-fluid pt-5">
  <div class="row p-5 justify-content-center align-items-center">
    <div class="col-5 ms-5">
      <div
        class="d-flex flex-column justify-content-center align-items-start h-100"
      >
        <h1 class="text-white mb-1" style="font-family: 'Poppins', sans-serif;">
          Hello, I'm Nour Eldin
        </h1>
        <h2>
          <span class="text-light" style="font-family: 'Poppins', sans-serif;">
            And I'm
          </span>
          <span style="font-family: 'Poppins', sans-serif; color: #00eeff;">
            a Web Developer
          </span>
        </h2>
        <p class="text-white mb-4" style="font-family: 'Poppins', sans-serif;">
          I'm a dedicated web developer with a strong eye for design and a focus
          on building fast, responsive, and user-friendly websites. I enjoy
          turning ideas into real-world digital experiences and continuously
          learning new technologies to stay ahead in the ever-evolving tech
          world.
        </p>
        <div class="d-flex gap-3">
          <div
            class="d-flex align-items-center justify-content-center iconContainer"
            onclick="window.open('https://www.facebook.com', '_blank')"
          >
            <i
              class="fa-brands fa-facebook-f fa-lg"
              style="color: #00eeff;"
            ></i>
          </div>
          <div
            class="d-flex align-items-center justify-content-center iconContainer"
            onclick="window.open('https://www.linkedin.com/in/nour-eldin-hesham-466ab2256')"
          >
            <i
              class="fa-brands fa-linkedin-in fa-lg"
              style="color: #00eeff;"
            ></i>
          </div>
          <div
            class="d-flex align-items-center justify-content-center iconContainer"
            onclick="window.open('https://github.com/Nour-2003')"
          >
            <i class="fa-brands fa-github fa-lg" style="color: #00eeff;"></i>
          </div>
          <div
            class="d-flex align-items-center justify-content-center iconContainer"
            onclick="window.open('mailto:noureldeanh@gmail.com')"
          >
            <i class="fa-solid fa-envelope fa-lg" style="color: #00eeff;"></i>
          </div>
        </div>
        <div
          class="d-flex justify-content-center align-items-center gap-3 mt-3"
        >
          <button
            class="btn px-4 py-2 rounded-5"
            style="
              font-family: 'Poppins', sans-serif;
              background-color: #00eeff;
              border: none;
            "
            onclick="window.open('assets/Nour_Eldin_Software_Developer.pdf')"
          >
            Download CV
          </button>
          <button
            class="btn rounded-5 px-4 py-2"
            style="
              font-family: 'Poppins', sans-serif;
              background-color: #00eeff;
              border: none;
            "
            onclick="window.location.href='#portfolio'"
          >
            Portfolio
          </button>
        </div>
      </div>
    </div>
    <div class="col-6 ms-5 d-flex justify-content-center align-items-center">
      <img
        src="assets/images/CV.jpg"
        alt="Nour Eldin"
        class="img-fluid rounded-circle"
        style="width: 300px; height: 300px; object-fit: cover;"
      />
    </div>
  </div>
</div>
