<div class="container-fluid intro-container">
  <div class="row intro-content">
    <div class="col-lg-5 col-md-6 col-sm-12 intro-text-section">
      <div class="intro-text-wrapper">
        <p class="intro-greeting">Hello, I'm Nour Eldin</p>
        <h2 class="intro-title">
          <span class="intro-title-text">And I'm</span>
          <span class="intro-title-highlight"> a Web Developer</span>
        </h2>
        <p class="intro-description">
          I'm a dedicated web developer with a strong eye for design and a focus
          on building fast, responsive, and user-friendly websites. I enjoy
          turning ideas into real-world digital experiences and continuously
          learning new technologies to stay ahead in the ever-evolving tech
          world.
          <br /><br />
          In addition to web development, I have hands-on experience building
          cross-platform mobile applications using Flutter. From UI design to
          API integration, I love crafting sleek and functional mobile apps that
          deliver a seamless user experience on both Android and iOS.
        </p>

        <div class="social-icons-container">
          <div
            class="icon-container"
            (click)="openLink('https://www.facebook.com/share/19QfYVda44/')"
          >
            <i class="fa-brands fa-facebook-f"></i>
          </div>
          <div
            class="icon-container"
            (click)="openLink('https://www.linkedin.com/in/nour-eldin-hesham-466ab2256')"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
          <div
            class="icon-container"
            (click)="openLink('https://github.com/Nour-2003')"
          >
            <i class="fa-brands fa-github"></i>
          </div>
          <div
            class="icon-container"
            (click)="openLink('mailto:noureldeanh@gmail.com')"
          >
            <i class="fa-solid fa-envelope"></i>
          </div>
        </div>

        <div class="intro-buttons">
          <button class="btn btn-download" (click)="downloadCV()">
            Download CV
          </button>
          <button class="btn btn-portfolio" (click)="scrollToPortfolio()">
            Portfolio
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 order-lg-2 order-1 mb-4 mb-lg-0">
      <div class="profile-image-container">
        <img [src]="profileImage" alt="Nour Eldin" class="profile-image" />
        <div class="profile-border-animation"></div>
      </div>
    </div>
  </div>
</div>
